h1{
    color: #77cbc6;
    font: 2em sans-serif;
}
h4{
    color: #8f9da6;
    font: 1em sans-serif;
}
body{
    background-color: #f4f5f5;
}
.fil_ariane{
    background-color: #d5f6f5;
    height: 4px;
    width: auto;
}